PORT=5000
JWT_SECRET=tu_secreto_super_seguro_cambiar_en_produccion

# Configuración de SQL Server
DB_SERVER=127.0.0.1
DB_NAME=EcoMarketplace
DB_USER=Eco
DB_PASSWORD=Eco123
DB_ENCRYPT=false
DB_TRUST_CERT=true

